.question-box {
    display: flex;
    width: 100%;
}

/*.card {
	border: thin solid black;
}*/

h1, h3 {
	font-family: 'Roboto', sans-serif;
}

/*@media screen and (min-width: 500px) {
	.card {
		width: 50%;
		margin: 0 auto;
	}
}
*/
.icon {
	border-right: thin solid black;
    margin-top: 0;
    width: 30%;
    margin: 0 auto;
    text-align: center
}

.question-text {
	width: 70%;
    text-align: center;
}

.question-asks {
	border-bottom: thin solid black;
	text-align: left;
	margin: 0;
	padding: .5em 0 .5em .3em ;
}
.poll-button {
	width: 90%;
	margin: 0 auto;
}

.or {
    text-align: center;
    border-top: 1px solid #ddd;
    line-height: 0;
}

.or span {
    background: #fff;
    padding: 0 15px;
}