html, body {
	height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,500');

/** NAV STYLING */
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}